.shie-container {
  @apply max-w-[90rem] mx-auto;
}
.no-fill {
  &.nuxt-icon.nuxt-icon--fill,
  &.nuxt-icon.nuxt-icon--fill * {
    fill: none !important;
  }
}
.--scrollbar-hidden {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
